{
  "swagger": "2.0",
  "info": {
    "description": "This is the Mapfre AuditMap3 API",
    "version": "0.0",
    "title": "Mapfre AuditMap3 API"
  },
  "host": "apisb.int.mapfre.com",
  "basePath": "/testapihub",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Login",
      "description": "Login of the application"
    },
    {
      "name": "Alarm Type Categories",
      "description": "Categories of type alarms"
    },
    {
      "name": "Alarm Types",
      "description": "Type of alarms"
    },
    {
      "name": "Artifact Version",
      "description": "Auditmap3 backend version"
    },
    {
      "name": "AuditMap Users",
      "description": "Users of the application"
    },
    {
      "name": "Budget Status Types",
      "description": "Types of status for a budget"
    },
    {
      "name": "Budgets",
      "description": "Budgets for internal audit plans"
    },
    {
      "name": "Budget tracking",
      "description": "Tracking of a budget"
    },
    {
      "name": "Business Process",
      "description": "Processes and threads of a Mapfre business unit"
    },
    {
      "name": "Business Units",
      "description": "Mapfre business units"
    },
    {
      "name": "Celebrated sentences",
      "description": "Sentences to show to the user in the dashboard of the application"
    },
    {
      "name": "Change Reason Category Type",
      "description": "Reason why a user changes his category"
    },
    {
      "name": "Change Types",
      "description": "Currency exchange rates against the euro"
    },
    {
      "name": "Close Period Types",
      "description": "Types of a close period"
    },
    {
      "name": "Close Periods",
      "description": "Close periods for different concepts like internal audit plans"
    },
    {
      "name": "Close Reason Types",
      "description": "Close reason for a job"
    },
    {
      "name": "Countries",
      "description": "Countries of the application"
    },
    {
      "name": "Course Types",
      "description": "Types of courses for an user"
    },
    {
      "name": "Critique Alarm Types",
      "description": "Critically of an alarm"
    },
    {
      "name": "Currencies",
      "description": "Currencies of the application"
    },
    {
      "name": "Departments",
      "description": "Mapfre departments"
    },
    {
      "name": "Entities",
      "description": "Mapfre entities"
    },
    {
      "name": "Factor Risks",
      "description": "Risk factors"
    },
    {
      "name": "Files",
      "description": "Operate with files"
    },
    {
      "name": "Idea Documents",
      "description": "Documents attached to an idea"
    },
    {
      "name": "Idea State Types",
      "description": "State of ideas"
    },
    {
      "name": "Ideas",
      "description": "Ideas"
    },
    {
      "name": "Imputation Concept Types",
      "description": "Types of concept to use when an user imputates hours"
    },
    {
      "name": "Imputation Times",
      "description": "Imputation times"
    },
    {
      "name": "Job Documents",
      "description": "Dcouments attached to a job"
    },
    {
      "name": "Job Guides",
      "description": "Job guides to import to a job program"
    },
    {
      "name": "Job Ideas",
      "description": "Ideas associated with a job"
    },
    {
      "name": "Job programs",
      "description": "Job program associated to a job"
    },
    {
      "name": "Job State Types",
      "description": "State of jobs"
    },
    {
      "name": "Job Types",
      "description": "Types of job"
    },
    {
      "name": "Jobs",
      "description": "Jobs of an internal audit plan"
    },
    {
      "name": "Language Level Types",
      "description": "Language level types"
    },
    {
      "name": "Languages",
      "description": "Languages"
    },
    {
      "name": "News",
      "description": "News to show to the user in the application dashboard"
    },
    {
      "name": "Node Types",
      "description": "Node types for a job program"
    },
    {
      "name": "Organizational Structure Types",
      "description": "Mapfre organizational structure types"
    },
    {
      "name": "Organizational Structures",
      "description": "Mapfre organizational structures"
    },
    {
      "name": "Origins",
      "description": "Job origins"
    },
    {
      "name": "Pais",
      "description": "Internal audit plans"
    },
    {
      "name": "Parameters",
      "description": "Application parameters"
    },
    {
      "name": "Personnel Predictions",
      "description": "Predictions personnel of a internal audit plan"
    },
    {
      "name": "Prediction Change Types",
      "description": "Currency exchange forecast"
    },
    {
      "name": "Process Types",
      "description": "Types of process"
    },
    {
      "name": "Professional Category Types",
      "description": "Types of professional categories for an user"
    },
    {
      "name": "Questionnaire Evaluations",
      "description": "Evaluations of a questionnaire"
    },
    {
      "name": "Questionnaire",
      "description": "Questionnaire of the application"
    },
    {
      "name": "Questions",
      "description": "Questions of a questionnaire"
    },
    {
      "name": "Recommendations",
      "description": "Recommendations of a task"
    },
    {
      "name": "Reports",
      "description": "Reports of a job"
    },
    {
      "name": "Regions",
      "description": "Mapfre regions"
    },
    {
      "name": "Risk Matrices",
      "description": "Risk matrices of an internal audit plan"
    },
    {
      "name": "Role Types",
      "description": "Roles of an user"
    },
    {
      "name": "Sectors",
      "description": "Mapfre sectors"
    },
    {
      "name": "Speciality Types",
      "description": "Speciality types of an user"
    },
    {
      "name": "Status Report Types",
      "description": "Types of report status"
    },
    {
      "name": "Structure Report Types",
      "description": "Types of report structures"
    },
    {
      "name": "Tag translations",
      "description": "Translation of a tag"
    },
    {
      "name": "Tags",
      "description": "Tags to tag concepts of the application"
    },
    {
      "name": "Task Documents",
      "description": "Documents attached to a task"
    },
    {
      "name": "Tasks",
      "description": "Task associated to a job"
    },
    {
      "name": "Territorial Areas",
      "description": "Mapfre terriotorial areas"
    },
    {
      "name": "Trace Types",
      "description": "Trace types for changes in a job"
    },
    {
      "name": "Type Critique Fact",
      "description": "Types of critique facts"
    },
    {
      "name": "Type Risk",
      "description": "Types of risks"
    },
    {
      "name": "User Alarm",
      "description": "User alarms"
    },
    {
      "name": "User Categories",
      "description": "User categories"
    },
    {
      "name": "User Languages",
      "description": "User languages"
    },
    {
      "name": "User Trainings",
      "description": "User trainings"
    },
    {
      "name": "Type Status Recommendation",
      "description": "Types of status recommendations"
    },
    {
      "name": "Valoration Process Types",
      "description": "Types of process valorations"
    },
    {
      "name": "Valoration Report Types",
      "description": "Types of valoration reports"
    },
    {
      "name": "Additional Proposal",
      "description": "Additional Proposals"
    },
    {
      "name": "Node State Type",
      "description": "Types of node states"
    },
    {
      "name": "Budget Expense Types",
      "description": "Budget expense types"
    },
    {
      "name": "External Companies",
      "description": "External companies"
    },
    {
      "name": "External Report Types",
      "description": "External report types"
    },
    {
      "name": "External Audit Types",
      "description": "External audit types"
    },
    {
      "name": "Visibility Rule Types",
      "description": "Visibility rule types"
    },
    {
      "name": "User Visibility Rule Types",
      "description": "User visibility rule types"
    },
    {
      "name": "Activity Types",
      "description": "Activity types"
    },
    {
      "name": "Activities",
      "description": "Activities"
    },
    {
      "name": "External Audits",
      "description": "External audits"
    },
    {
      "name": "Deal Comittees",
      "description": "Deal commitees"
    },
    {
      "name": "Type Status Action Plan",
      "description": "Type status action plan"
    },
    {
      "name": "Global Search",
      "description": "Global Search"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Login with user and password of the application",
        "operationId": "postLogin_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Login succesful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeCategoryAlarmBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/alarm_type_categories": {
      "get": {
        "tags": [
          "Alarm Type Categories"
        ],
        "summary": "Get all alarm type categories",
        "operationId": "getUsingGET_46",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeCategoryAlarmBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/alarm_type_category": {
      "post": {
        "tags": [
          "Alarm Type Categories"
        ],
        "summary": "Add a alarm type category",
        "operationId": "addUsingPOST_43",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCategoryAlarmBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarm type category successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/alarm_type_category/{alarmTypeCategoryId}": {
      "put": {
        "tags": [
          "Alarm Type Categories"
        ],
        "summary": "Update a alarm type category",
        "operationId": "updateUsingPUT_42",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "alarmTypeCategoryId",
            "in": "path",
            "description": "typeCategoryAlarmId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCategoryAlarmBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Alarm Type Categories"
        ],
        "summary": "Delete a alarm type category",
        "operationId": "deleteUsingDELETE_43",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "alarmTypeCategoryId",
            "in": "path",
            "description": "typeCategoryAlarmId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/alarm_types": {
      "get": {
        "tags": [
          "Alarm Types"
        ],
        "summary": "Get all alarm types",
        "operationId": "getUsingGET_45",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeAlarmBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/alarm_type": {
      "post": {
        "tags": [
          "Alarm Types"
        ],
        "summary": "Add a alarm type",
        "operationId": "addUsingPOST_42",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeAlarmBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarm type successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/alarm_type/{alarmTypeId}": {
      "put": {
        "tags": [
          "Alarm Types"
        ],
        "summary": "Update a alarm type",
        "operationId": "updateUsingPUT_41",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "alarmTypeId",
            "in": "path",
            "description": "typeAlarmId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeAlarmBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Alarm Types"
        ],
        "summary": "Delete a alarm type",
        "operationId": "deleteUsingDELETE_42",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "alarmTypeId",
            "in": "path",
            "description": "typeAlarmId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/artifact_version": {
      "get": {
        "tags": [
          "Artifact Version"
        ],
        "summary": "Get artifact version at runtime",
        "operationId": "getUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budget_status_types": {
      "get": {
        "tags": [
          "Budget Status Types"
        ],
        "summary": "Get all budget status types",
        "operationId": "getUsingGET_68",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeStatusBudgetBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "Budget Status Types"
        ],
        "summary": "Add a budget status type",
        "operationId": "addUsingPOST_65",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeStatusBudgetBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Budget status type successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budget_status_type/{typeStatusBudgetId}": {
      "delete": {
        "tags": [
          "Budget Status Types"
        ],
        "summary": "Delete a budget status type",
        "operationId": "deleteUsingDELETE_65",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "typeStatusBudgetId",
            "in": "path",
            "description": "Identifier of type status budget",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "Budget Status Types"
        ],
        "summary": "Update a budget status type",
        "operationId": "updateUsingPUT_64",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "typeStatusBudgetId",
            "in": "path",
            "description": "typeStatusBudgetId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeStatusBudgetBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budget_status_type": {
      "post": {
        "tags": [
          "Budget Status Types"
        ],
        "summary": "Create a budget status type",
        "operationId": "addBudgetStatusType - application/json",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeBudgetStatusBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Succesfully created"
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budgets": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "Get all budgets",
        "operationId": "getUsingGET_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "Budgets"
        ],
        "summary": "Add a budget",
        "operationId": "addUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BudgetBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Budget successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budget/{budgetId}": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "Get budget information by id (comments)",
        "operationId": "getBudgetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "budgetId",
            "in": "path",
            "description": "budgetId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "changeToEuro",
            "in": "query",
            "description": "changeToEuro",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "Budgets"
        ],
        "summary": "Update a budget",
        "operationId": "updateUsingPUT_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "budgetId",
            "in": "path",
            "description": "budgetId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BudgetBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Budgets"
        ],
        "summary": "Delete a budget",
        "operationId": "deleteUsingDELETE_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "budgetId",
            "in": "path",
            "description": "budgetId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budgets/comment/{budgetId}": {
      "post": {
        "tags": [
          "Budgets"
        ],
        "summary": "Add a comment budget",
        "operationId": "addCommentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "budgetId",
            "in": "path",
            "description": "budgetId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BudgetCommentBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Budget comment successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budgets/group": {
      "post": {
        "tags": [
          "Budgets"
        ],
        "summary": "Create a group of budgets",
        "operationId": "groupBudgetsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "budgetIds",
            "description": "budgetIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "List of budgets created successfully",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budgets/os/{idOrganizationalStructurePk}": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "Get budgets by organizational structure and exercise number (optional)",
        "operationId": "getBasicBudgetInfoByOrgStrAndNmrExerciseUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idOrganizationalStructurePk",
            "in": "path",
            "description": "idOrganizationalStructurePk",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "nmrExercise",
            "in": "query",
            "description": "nmrExercise",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/budgets/template/{orgStrId}": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "Delete a budget",
        "operationId": "getDefaultBudgetTemplateUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "orgStrId",
            "in": "path",
            "description": "Mapfre organizational structure",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/business_units": {
      "get": {
        "tags": [
          "Business Units"
        ],
        "summary": "Get all business units",
        "operationId": "getUsingGET_70",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UnitBusinessBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/business_unit": {
      "post": {
        "tags": [
          "Business Units"
        ],
        "summary": "Add a business unit",
        "operationId": "addUsingPOST_67",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnitBusinessBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Business unit successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/business_unit/{unitBusinessId}": {
      "put": {
        "tags": [
          "Business Units"
        ],
        "summary": "Update a business unit",
        "operationId": "updateUsingPUT_66",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "unitBusinessId",
            "in": "path",
            "description": "unitBusinessId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnitBusinessBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Business Units"
        ],
        "summary": "Delete a business unit",
        "operationId": "deleteUsingDELETE_67",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "unitBusinessId",
            "in": "path",
            "description": "unitBusinessId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/celebrated_sentences": {
      "get": {
        "tags": [
          "Celebrated sentences"
        ],
        "summary": "Get all celebrated sentences",
        "operationId": "getUsingGET_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CelebratedSentenceBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/celebrated_sentence": {
      "post": {
        "tags": [
          "Celebrated sentences"
        ],
        "summary": "Creation of a celebrated sentence",
        "operationId": "addUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CelebratedSentenceBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Sentence successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/celebrated_sentence/{id}": {
      "put": {
        "tags": [
          "Celebrated sentences"
        ],
        "summary": "Update of a celebrated sentence",
        "operationId": "updateUsingPUT_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CelebratedSentenceBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sentence successfully updated",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Celebrated sentences"
        ],
        "summary": "Delete of a celebrated sentence",
        "operationId": "deleteUsingDELETE_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Sentence successfully deleted",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/certification_types": {
      "get": {
        "tags": [
          "Certification types"
        ],
        "summary": "Get all certification types",
        "operationId": "getUsingGET_48",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeCertificationBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/certification_type": {
      "post": {
        "tags": [
          "Certification types"
        ],
        "summary": "Add a certification type",
        "operationId": "addUsingPOST_45",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCertificationBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Certification type successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/certification_type/{certificationTypeId}": {
      "put": {
        "tags": [
          "Certification types"
        ],
        "summary": "Update a certification type",
        "operationId": "updateUsingPUT_44",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "certificationTypeId",
            "in": "path",
            "description": "typeCertificationId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCertificationBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Certification types"
        ],
        "summary": "Delete a certification type",
        "operationId": "deleteUsingDELETE_45",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "certificationTypeId",
            "in": "path",
            "description": "typeCertificationId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/change_reason_category_types": {
      "get": {
        "tags": [
          "Change Reason Category Type"
        ],
        "summary": "Get all change reason category types",
        "operationId": "getUsingGET_61",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeReasonChangeCategoryBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/change_reason_category_type": {
      "post": {
        "tags": [
          "Change Reason Category Type"
        ],
        "summary": "Add a change reason category type",
        "operationId": "addUsingPOST_58",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeReasonChangeCategoryBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Change reason category type successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/change_reason_category_type/{reasonChangeCategoryTypeId}": {
      "put": {
        "tags": [
          "Change Reason Category Type"
        ],
        "summary": "Update a change reason category type",
        "operationId": "updateUsingPUT_57",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "reasonChangeCategoryTypeId",
            "in": "path",
            "description": "typeReasonChangeCategoryId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeReasonChangeCategoryBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Change Reason Category Type"
        ],
        "summary": "Delete a change reason category type",
        "operationId": "deleteUsingDELETE_58",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "reasonChangeCategoryTypeId",
            "in": "path",
            "description": "typeReasonChangeCategoryId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/change_types": {
      "get": {
        "tags": [
          "Change Types"
        ],
        "summary": "Get all change types",
        "operationId": "getUsingGET_49",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeChangeBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "Change Types"
        ],
        "summary": "Add a list of change type",
        "operationId": "importTypeChangeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeChangeBO"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Change types successfully created"
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/change_type": {
      "post": {
        "tags": [
          "Change Types"
        ],
        "summary": "Add a change type",
        "operationId": "addUsingPOST_46",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeChangeBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Change type successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/change_type/{typeChangeId}": {
      "put": {
        "tags": [
          "Change Types"
        ],
        "summary": "Update a change type",
        "operationId": "updateUsingPUT_45",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "typeChangeId",
            "in": "path",
            "description": "typeChangeId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeChangeBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Change Types"
        ],
        "summary": "Delete a change type",
        "operationId": "deleteUsingDELETE_46",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "typeChangeId",
            "in": "path",
            "description": "typeChangeId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/close_period_types": {
      "get": {
        "tags": [
          "Close Period Types"
        ],
        "summary": "Get all close period types",
        "operationId": "getUsingGET_50",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeClosePeriodBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/close_period_type": {
      "post": {
        "tags": [
          "Close Period Types"
        ],
        "summary": "Add a close period type",
        "operationId": "addUsingPOST_47",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeClosePeriodBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Close period type successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/close_period_type/{closePeriodTypeId}": {
      "put": {
        "tags": [
          "Close Period Types"
        ],
        "summary": "Update a close period type",
        "operationId": "updateUsingPUT_46",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "closePeriodTypeId",
            "in": "path",
            "description": "typeClosePeriodId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeClosePeriodBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was updated"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Close Period Types"
        ],
        "summary": "Delete a close period type",
        "operationId": "deleteUsingDELETE_47",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "closePeriodTypeId",
            "in": "path",
            "description": "typeClosePeriodId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was deleted"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/close_periods": {
      "get": {
        "tags": [
          "Close Periods"
        ],
        "summary": "Get all close periods",
        "operationId": "getUsingGET_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "exercise",
            "in": "query",
            "description": "exercise",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "List successfully retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ClosePeriodBO"
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/close_period": {
      "post": {
        "tags": [
          "Close Periods"
        ],
        "summary": "Add a close period",
        "operationId": "addUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "description": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClosePeriodBO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Close period successfully created",
            "schema": {
              "type": "number",
              "description": "Identifier of the object that was created"
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not authorized to view the resource",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The request could not be completed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/close_period/{closePeriodId}": {
      "put": {
[...]
