{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "API Catalogs",
    "description": "API Catalogs"
  },
  "host": "apisb.mapfre.com",
  "basePath": "/srv/api/1.0/catalogs",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/common/territorial_organization/towns/search_by_zip_code": {
      "get": {
        "description": "This operation allows consulting the list of towns by zip code.",
        "summary": "Query towns",
        "tags": [
          "Common"
        ],
        "operationId": "GET_CatalogsTownsByZipCode",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "description": "Country code. Possible values: ES - Spain.",
            "in": "query",
            "type": "string",
            "required": true,
            "enum": [
              "ES"
            ]
          },
          {
            "name": "zipCode",
            "description": "Zip code.",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "languageCode",
            "description": "Language code. Possible values: es_ES - Spanish.",
            "in": "query",
            "type": "string",
            "required": true,
            "enum": [
              "es_ES"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Out_GET_CatalogsTownsByZipCode"
            }
          },
          "204": {
            "description": "The query does not return data"
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Not authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Uncontrolled error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Out_GET_CatalogsTownsByZipCode": {
      "description": "Successful response",
      "type": "object",
      "properties": {
        "townList": {
          "description": "Town list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Town"
          }
        }
      }
    },
    "Town": {
      "title": "Town",
      "type": "object",
      "properties": {
        "zipCode": {
          "description": "Zip code.",
          "example": "35007",
          "type": "string"
        },
        "autonomousCommunityCode": {
          "description": "Code of the Autonomous Community. SEE AUTONOMOUS COMMUNITY LOV.",
          "example": "5",
          "type": "string"
        },
        "autonomousCommunityDesc": {
          "description": "Name of the Autonomous Community.",
		   "example": "COMUNIDAD AUTONOMA DE CANARIAS",
          "type": "string"
        },
        "provinceCode": {
          "description": "Province code. See PROVINCES LOV.",
		   "example": "35",
          "type": "string"
        },
        "provinceDesc": {
          "description": "Name of the province.",
		  "example": "LAS PALMAS",
          "type": "string"
        },
        "townshipCode": {
          "description": "Township code (5-position).",
		  "example": "35016",
          "type": "string"
        },
        "townshipDesc": {
          "description": "Name of the township.",
		  "example":"LAS PALMAS DE GRAN CANARIA",
          "type": "string"
        },
        "townCode": {
          "description": "Town code (11-positions).",
		  "example":"35016000000",
          "type": "string"
        },
        "townName": {
          "description": "Name of the town.",
		  "example":"LAS PALMAS DE GRAN CANARIA",
          "type": "string"
        }
      }
    },
    "Error": {
      "required": [
        "code",
        "message",
        "type",
        "component",
        "application",
        "timestamp",
        "errors"
      ],
      "properties": {
        "code": {
          "description": "Error code",
          "example": "4003",
          "type": "string"
        },
        "message": {
          "description": "Error description",
          "example": "Internal error in the service",
          "type": "string"
        },
        "type": {
          "description": "Error type",
          "example": "Null pointer",
          "type": "string"
        },
        "context": {
          "description": "Error context",
          "example": "Process query action",
          "type": "string"
        },
        "exception": {
          "description": "Exception",
          "example": "NullPointerException",
          "type": "string"
        },
        "component": {
          "description": "Error component",
          "example": "ProcessImpl",
          "type": "string"
        },
        "application": {
          "description": "Error application",
          "example": "Process_Backend",
          "type": "string"
        },
        "timestamp": {
          "description": "Error time",
          "example": "2012-04-23T18:25:43.511Z",
          "type": "string",
          "format": "date-time"
        },
        "errors": {
          "description": "Error list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorComponent"
          }
        },
        "stacktrace": {
          "$ref": "#/definitions/StackTrace"
        }
      }
    },
    "ErrorComponent": {
      "required": [
        "code"
      ],
      "properties": {
        "code": {
          "description": "Error code",
          "example": "4003",
          "type": "string"
        },
        "message": {
          "description": "Error message",
          "example": "Internal error",
          "type": "string"
        },
        "component": {
          "description": "Error component",
          "example": "ProcessImpl",
          "type": "string"
        },
        "rootcase": {
          "description": "Error cause",
          "example": "NullPointerException",
          "type": "string"
        },
        "info": {
          "description": "Error information",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorInfo"
          }
        }
      }
    },
    "ErrorInfo": {
      "properties": {
        "key": {
          "description": "Key",
          "example": "key",
          "type": "string"
        },
        "value": {
          "description": "Value",
          "example": "value",
          "type": "string"
        }
      }
    },
    "StackTrace": {
      "description": "Error trace",
      "properties": {
        "declaringClass": {
          "description": "Error java class",
          "example": "com.mapfre.gaia.ProcessImpl",
          "type": "string"
        },
        "methodName": {
          "description": "Method name",
          "example": "processAction",
          "type": "string"
        },
        "fileName": {
          "description": "File name.",
          "example": "ProccessImpl.java",
          "type": "string"
        },
        "lineNumber": {
          "description": "Error line number in the java class",
          "example": "123",
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Common",
      "description": "Common Data"
    }
  ]
}
